body {
   background: #f2e8d0;
 }
 img {
   border-radius: 300px;
   width: 180px;
   height: 180px;
 }
h1 {
font-size: 20px;
color: #1668a3;
font-family: 'Montserrat' , 'sans-serif';
}
p {
  color: #1668a3;
  font-family: 'Montserrat' , 'sans-serif';
  }
  .p-rectangle {
    text-align: center;
    color: #1668a3;
    font-family: 'Montserrat' , 'sans-serif';
    }
.rectangle {
  border-radius: 32px;
  height: 54px;
  width: 443px;
  background-color:#bcd691;
  margin-top: 10px;
  margin-bottom: 10px;
}
.rectangle2 {
  border-radius: 32px;
  height: 54px;
  width: 210px;
  background-color:#bcd691;
  margin-top: 10px;
  margin-bottom: 10px;
}
.parent {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
}
.child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
