  /* ----------------------- Global ------------------ */
html {
  font-size: 62.5%; 
}
body {
   background: #f2e8d0;
   padding: 2rem;
   margin: 2rem;
 }
     /* ----------------------- Header ------------------ */
.round-img {
      border-radius: 30rem;
      width: 28rem;
      height: 28rem;
    }
h1 {
      font-size: 3.4rem;
      color: #1668a3;
      font-family: 'Montserrat' , 'sans-serif';
      }
h2 {
        font-size: 2.4rem;
        color: #1668a3;
        font-family: 'Montserrat' , 'sans-serif';
        line-height: 4rem;
        }
        /* ----------------------- Vector image with quote ------------------ */
.container {
          position: relative;
          text-align: left;
        }
   .svg-image {
      position: fixed;
      top: 0;
      right: 0;
      width: 85rem;
      height: 28rem;
    }
    .quote {
      position: absolute; 
      top:-28rem;
      right: 10rem;
      font-size: 2rem;
      line-height: 3rem;
      font-style: italic;
      color: #f2e8d0;
      font-family: 'Montserrat' , 'sans-serif';
    }
    h3 {
      color: #1668a3;
      font-family: 'Montserrat' , 'sans-serif';
      font-weight: bold;
      font-size: 2.4rem;
      }
  /* ----------------------- Rectangles ------------------ */
.flex-parent {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    float: right;
    position: relative;
    top: -30rem;
    right: 20rem;
  }
.flex-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .p-rectangle {
    text-align: center;
    font-size: 1.6rem;
    color: #737F59;
    font-family: 'Montserrat' , 'sans-serif';
    }
.rectangle {
  border-radius: 3.2rem;
  height: 5rem;
  width: 40rem;
  background-color:#bcd691;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.rectangle2 {
  border-radius: 3.2rem;
  height: 5rem;
  width: 17rem;
  background-color:#bcd691;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

  /* ----------------------- Issues: When changing font-size in .p-rectangle the text is not aligned. / 
  Vector image can only be placed in left corner if fixed, not responsive to scroll.  ------------------ */
